/*html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
} */

.btn-login  {
    font-weight: 500;
    color: #007bff;
    border-color: #007bff;
    width: 300px;
}

a.btn-login:hover {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}


.heading {
   text-align: center;
   color: white;
}

.sub-heading{
	text-align: center;
	color: white;
}


.body-button {
    font-weight: 500;
    color: #007bff;
    border-color: #007bff;
    width: 150px;
}

a.body-button:hover {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}

#software-img {
    box-shadow: -17px 47px 50px -14px rgba(0, 0, 0, 0);
}


#hardware-img {
    box-shadow: -17px 47px 50px -14px rgba(0, 0, 0, 0);
}


#content-img {
    box-shadow: -17px 47px 50px -14px rgba(0, 0, 0, 0);
}


footer {
    height: 100px;
}

.footer-block {
    margin: 20px auto 20px auto;
}

.ftp {
	margin: 0px auto auto auto;
}