.container {
  max-width: 960px;
}


.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}



.body-button {
    font-weight: 500;
    color: white;
    border-color: white;
    width: 150px;
}

a.body-button:hover {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}




.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


footer {
    height: 100px;
}

.footer-block {
    margin: 20px auto 20px auto;
}

.ftp {
  margin: 0px auto auto auto;
}